<!DOCTYPE html>

<!--

  Looks like we have an Enginner in the Family. 
  You’ve made it into our code. If it’s a bug you’re looking for, do keep at it
  and let us know if you have found one.We Appreciate that. If you need a new Job
  in the future of Artificial Intelligence in Food Industry, well "Call me"

  Email support@sealurmeal.com if you’ve found a bug.
  visit https://angel.co/sealurmeal.
-->

<html ng-app="sealurmealApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SealYourMeal</title>
    <!--css files-->
    <link rel="stylesheet" href="resources/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/vendor/css/animate.min.css">
    <link rel="stylesheet" href="resources/css/cart.css">
    <link rel="stylesheet" href="resources/css/dashboard-main.css">
    <link rel="stylesheet" href="resources/css/login.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/menu.css">
    <link rel="stylesheet" href="resources/css/order-history.css">
    <link rel="stylesheet" href="resources/css/preference.css">
    <link rel="stylesheet" href="resources/css/tracking.css">
    
    <!--site icon-->
    <link rel="icon" href="resources/img/sealurmeal.ico">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>
<body>

<div ng-if="authenticated">
  <div ng-include="'views/header.html'"></div>
  <div ng-include="'views/navbar.html'"></div>
  <ui-view></ui-view>
  <div ng-include="'views/footer.html'"></div>
</div>
<div ng-if="!authenticated">
    <div ng-include="'views/login.html'"></div>
</div>

<!-- inject:js -->
<script src="resources/vendor/js/lib.min.js"></script>
<script src="resources/vendor/js/jquery-3.2.1.min.js"></script>
<script src="resources/vendor/js/popper.min.js"></script>
<script src="resources/vendor/js/bootstrap.min.js"></script>
<script src="resources/vendor/js/jquery.nicescroll.min.js"></script>
<script src="resources/vendor/js/wow.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>

<script src="resources/js/app.js"></script>
<!-- controllers -->
<script src="resources/js/controllers/error-controller.js"></script>
<script src="resources/js/controllers/verify-controller.js"></script>
<script src="resources/js/controllers/authentication-controller.js"></script>
<script src="resources/js/controllers/recommendation-controller.js"></script>
<script src="resources/js/controllers/menu-controller.js"></script>
<script src="resources/js/controllers/navbar-controller.js"></script>
<script src="resources/js/controllers/header-controller.js"></script>
<script src="resources/js/controllers/cart-controller.js"></script>
<script src="resources/js/controllers/order-controller.js"></script>
<!-- services -->
<!--<script src="resources/js/directives.js"></script>-->
<!--<script src="resources/js/services/services.js"></script>-->
<script src="resources/js/services/authentication-services.js"></script>
<!-- helpers-->
<script src="resources/js/helper/session.js"></script>
<script src="resources/js/helper/menu.js"></script>

<script>
  // loading screen
  $(window).on("load", function() {
      "use strict";
      $(".loading-animation").fadeOut(400, function() {
          $(this).parent().fadeOut(400, function() {
              $(this).remove();
          });
      });
  });
  
  $(document).ready(function() {
      "use strict";

      // trigger niceScroll
      $("html").niceScroll({
          horizrailenabled: false,
          cursorcolor: "#FF7920",
          cursorborder: "none"
      });
      // set the height of the main section
      var winHeight =$(window).height(); 
      if (winHeight > 600){
          $(".login-form").outerHeight(winHeight);
      } else {
          $(".login-form").outerHeight(600);
      }
  });

</script>

<script>
  new WOW().init();
</script>

<!-- endinject -->

</body>
</html>
