<div ng-controller="AuthenticationController">
    <!--start login-form-->
    <section class="login-form text-center w-100 row no-gutters align-items-center justify-content-around">
        <div class="form-wrapper col-auto">
            <img src="resources/img/logo.svg" alt="" class="logo d-block d-sm-none">
            <h2 class="h1">Change Password</h2>
            <p class="">Enter your credentials to change your password</p>
            <form class="text-left">
                <div class="form-group">
                    <label class="col-form-label font-source" for="email">Old Password</label>
                    <input type="password" class="form-control" ng-model="oldPassword" placeholder="old password">
                </div>
                <div class="form-group">
                    <label class="col-form-label font-source" for="email">New Password</label>
                    <input type="password" class="form-control" ng-model="newPassword" placeholder="new password">
                </div>
                <div class="form-group">
                    <label class="col-form-label font-source" for="email">New Password Again</label>
                    <input type="password" class="form-control" ng-model="newPasswordCopy" placeholder="new password again">
                </div>
                <p class="" style="color: red; font-size: 16px">{{errorMessage}}</p>
                <p class="" style="font-size: 16px">{{successMessage}}</p>
                <button type="submit" class="btn mybutton text-uppercase w-100" ng-click="changePassword()">CHANGE PASSWORD</button>
            </form>
        </div>
    </section>
    <!--end login-form-->
    <!--js files-->
    <!-- 1- jQuery -->
    <script src="resources/vendor/js/jquery-3.2.1.min.js"></script>
    <!-- 2- nicescroll -->
    <script src="resources/vendor/js/jquery.nicescroll.min.js"></script>
    <!-- 3- specific file -->
    <script src="resources/js/pages/login.js"></script>
</div>