<!--start footer-->
<footer>
    <div class="container h-100">
        <div class="row no-gutters justify-content-between h-100 align-items-center">
            <div class="col-7 copyright">
                Copyright &copy; 2018 - All Rights Reserved.
            </div>
            <div class="col-5 sitemap">
                <div class="row no-gutters justify-content-end">
                    <div class="col-auto"><a href="">My Profile</a></div>
                    <div class="col-auto"><a href="">FAQ</a></div>
                    <div class="col-auto"><a href="">Contact</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->