<!--start header-->
<div ng-controller="HeaderController" ng-init="init()">
<header>
    <div class="container">
        <div class="row no-gutters justify-content-between">
            <div class="col-4 logo-image">
                <img src="resources/img/logo.svg" alt="">
            </div>
            <div class="col-4 col-lg-2 profile align-self-center">
                <div class="row no-gutters align-items-center justify-content-end">
                    <div class="cart-icon col-auto" ui-sref="cart">
                        <img src="resources/img/cart.svg" alt="">
                        <span class="value"></span>
                    </div>
                    <div class="avatar col-auto">
                        <img src="resources/img/profile.png" alt="" class="">
                        <div class="d-inline-block arrow-down profile-opener">
                            <span class="d-inline-block"></span><span class="d-inline-block"></span>
                        </div>
                    </div>
                </div>
                <!--profile options div-->
                <div class="profile-option">
                        <div class="pro-option-header">
                            <div class="row no-gutters justify-content-between">
                                <div class="col-auto pro-image">
                                    <img class="w-100 h-100" src="resources/img/profile.png" alt="">
                                </div>
                                <div class="col-auto pro-name">
                                    <h3>{{$root.userDetails.name}}</h3>
                                    <h4>Employee</h4>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pro-options-body">
                            <div ui-sref="changePassword">Change Password</div>
                            <div class="preference-direct">Update Preferences</div>
                            <div>Rigid Preference
                                <div class="custom-switch d-inline-block float-right">
                                    <label class="switch">
                                        <input type="checkbox" ng-checked="$root.userDetails.rigidPreference" ng-model="$root.userDetails.rigidPreference" 
                                            ng-change="togglePreference()">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div>Automatic Delivery
                                <div class="custom-switch d-inline-block float-right">
                                    <label class="switch">
                                        <input type="checkbox" ng-checked="$root.userDetails.autoRecommend" ng-model="$root.userDetails.autoRecommend" 
                                            ng-change="togglePreference()">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div>Working Days</div>
                        </div>
                        <hr>
                        <div class="log-out" ng-click="logout()">log out</div>
                    </div>
                </div>
                <!--profile options div end-->
            </div>
            <!--profile div end-->
        </div>
    </header>
    <!--end header-->
    
    <!--js files-->
    <script src="resources/js/pages/dashboard.js"></script>
</div>