<div ng-controller="AuthenticationController">
    <!--start login-form-->
    <section class="login-form text-center w-100 row no-gutters align-items-center justify-content-around">
        <div class="overlay w-100 h-100 d-none d-sm-block">
            <img src="resources/img/login-bg.png" alt="" class="d-inline-block w-100 h-100">
        </div>
        <div class="form-wrapper col-auto">
            <img src="resources/img/logo.svg" alt="" class="logo d-block d-sm-none">
            <h2 class="h1">Welcome!</h2>
            <p class="">Please sign in to continue</p>
            <form class="text-left">
                <div class="form-group">
                    <label class="col-form-label font-source" for="email">Email</label>
                    <input type="email" class="form-control" id="email" 
                        ng-model="username" placeholder="email id">
                </div>
                <div class="form-group">
                    <label class="col-form-label font-source" for="password">Password</label>
                    <input type="password" class="form-control" id="password" 
                        ng-model="password" placeholder="***********">
                </div>
                <p class="" style="color: red; font-size: 16px">{{$root.authErrorMessage}}</p>
                <a ng-click="forgotPassword()"><p class="text-right w-100 forget">Forgot password?</p></a>
                <button type="submit" class="btn mybutton text-uppercase w-100" ng-click="login()">LOG IN</button>
            </form>
        </div>
    </section>
    <!--end login-form-->
    <!--js files-->
    <!-- 1- jQuery -->
    <script src="resources/vendor/js/jquery-3.2.1.min.js"></script>
    <!-- 2- nicescroll -->
    <script src="resources/vendor/js/jquery.nicescroll.min.js"></script>
    <!-- 3- specific file -->
    <script src="resources/js/pages/login.js"></script>
</div>