<div ng-controller="NavbarController" ng-init="init()">
    <!--start navbar-->
    <nav>
        <div class="container">
            <div class="row no-gutters justify-content-between">
                <div class="nav-item col-auto text-right text-uppercase" ng-click="goLeft()">
                    <div class="left-arrow">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div data-class=".recommended" class="nav-item col-auto text-center text-uppercase nav-active" ui-sref="recommended">
                    <span class="w-100 h-100">recommended</span>
                </div>
                <div class="nav-item col-auto text-center text-uppercase" ng-repeat="cuisine in cuisines track by $index"
                    ui-sref="menu({menuName: cuisine})">
                    <span class="w-100 h-100">{{cuisine}}</span>
                </div>
                <div data-class="." class="nav-item col-auto text-right text-uppercase" ng-click="goRight()">
                    <div class="right-arrow">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--end navbar-->
</div>